<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Matriz.Properties.Settings.AUTOPECASConnectionString" connectionString="Data Source=DELL;Initial Catalog=AUTOPECAS;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    <add name="AUTOPECASEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=AUTOPECAS;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AUTOPECASEntities1" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=AUTOPECAS;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AUTOPECASEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHLP;initial catalog=AUTOPECAS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
